.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: 2rem;
	//background-color: yellow;

	//max-width: 1100px;
	width: min(100% - 40px, 1100px);
	margin-inline: auto;

	&__header {
		grid-area: 1 / 1 / 2 / 6;
		margin-inline: auto;
		padding-top: 3rem;
		//background-color: aqua;
	}
	&__main {
		grid-area: 2 / 1 / 5 / 6;
		height: 100%;
		//background-color: coral;
	}
	&__footer {
		grid-area: 5 / 1 / 7 / 5;
		grid-column-gap: 30px;
		//background-color: rgb(107, 28, 116);
		//margin-inline: auto;
		//padding-top: 2rem;
		//position: absolute;

		//display: grid;
		// grid-template-columns: repeat(3, 1fr);
		// grid-template-rows: 1fr;
		// grid-column-gap: 0px;
		// grid-row-gap: 0px;

		display: flex;
		justify-content: center; //alignment of main axis (horizontal)
		align-items: center; //alignment of cross axis (vertical)
		flex-wrap: wrap; // overflow
		//margin: 10px;
	}
	&__modal {
		//grid-area: 2 / 1 / 5 / 6;
		//background-color: black;
		z-index: 10;
		grid-area: 2 / 1 / 5 / 6;
	}
	&__footer-side {
		grid-area: 5 / 5 / 6 / 6;
		//background-color: greenyellow;
		margin: auto;
		// justify-content: center; //alignment of main axis (horizontal)
		// align-items: center; //alignment of cross axis (vertical)
	}

	// &__cell {
	// 	border-style: solid;
	// }
}

.score-controls {
	// display: grid;
	// grid-template-columns: repeat(2, 1fr);
	// grid-template-rows: 1fr;
	// grid-column-gap: 0px;
	// grid-row-gap: 0px;
	// .add {
	// 	grid-area: 1 / 1 / 2 / 2;
	// }
	// .minus {
	// 	grid-area: 1 / 2 / 2 / 3;
	// }
}

.player {
	background-color: var(--table-background-color);
	padding: 10px 30px 10px 30px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	min-width: 8rem;
}

.teamName {
	font-weight: bold;
	color: var(--text-color-dark);
	border: 3px solid var(--primary-color);
	border-style: none none solid none;
}

#score {
	margin-top: 10px;
	padding: 5px;
	background-color: var(--table-header-background-color);
	color: var(--text-color-light);
}

.grid__footer-side > button {
	display: block;
	width: 80%;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
	box-sizing: border-box;
	color: var(--text-color-light);
	cursor: pointer;
	font-size: 12px;
	font-weight: 400;
	outline: none;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

	margin: auto;
	margin-bottom: 10px;
}

.grid__footer-side > button:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
	transform: translateY(-2px);
}
