#modal-container {
	//display: none;
	width: 100%;
	max-width: 100%;
	background-color: rgba(47, 46, 45, 0.947);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 50px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	//hiding
	opacity: 0;
	pointer-events: none;
}

#modal-container .p {
	margin-bottom: 10px;
}

#modal-container.show {
	opacity: 1;
	pointer-events: auto;
}

#answer.show {
	opacity: 1;
	pointer-events: auto;
}

#answer.hidden {
	opacity: 0;
	pointer-events: none;
}

.modal p {
	opacity: 0.9;
	color: var(--text-color-light);
}

.modal {
	// width: 100%;
	// max-width: 100%;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 0.9fr);
	grid-column-gap: 0px;
	grid-row-gap: 20px;

	#question {
		grid-area: 1 / 1 / 2 / 5;
		//width: 80%;
		//margin-inline: auto;
	}
	#reveal-answer {
		grid-area: 2 / 2 / 3 / 3;
		//padding-left: 20px;
	}
	#close-question-modal {
		grid-area: 2 / 3 / 3 / 4;
	}
	#answer {
		grid-area: 3 / 1 / 4 / 5;
	}
	#reveal-answer,
	#close-question-modal {
		width: 80%;
		background-color: var(--primary-color);
		border: 1px solid var(--primary-color);
		border-radius: 4px;
		box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
		box-sizing: border-box;
		color: var(--text-color-light);
		cursor: pointer;
		font-size: 12px;
		font-weight: 400;
		outline: none;
		outline: 0;
		padding: 10px 25px;
		text-align: center;
		transform: translateY(0);
		transition: transform 150ms, box-shadow 150ms;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
	}
	#reveal-answer:hover,
	#close-question-modal:hover {
		box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
		transform: translateY(-2px);
	}
	#question,
	#answer {
		//width: 80%;
		margin-inline: auto;
		align-items: center;
		justify-content: center;
	}
}
