//@use '../util' as util;

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font);

	background-color: var(--background-color);
	color: var(--text-color);
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	margin: 10px auto;
	color: var(--text-color-light);
	border-collapse: separate;
	border-spacing: 6px;
}

th {
	background-color: var(--table-header-background-color);
	color: var(--text-color-light);
}

th,
td {
	//border: 5px solid var(--background-color);
	border-radius: 12px;

	padding: 1.5rem;
	text-align: center;
}

td {
	background-color: var(--table-background-color);
	color: var(--text-color-dark);
}

td:hover {
	background-color: var(--primary-color);
}

.answerShown {
	background-color: rgb(133, 23, 170);
	pointer-events: none;
}

hr {
	padding-top: 0;
}
