:root {
	--background-color: #fffffe;
	--text-color-dark: #094067;
	--text-color-light: #fffffe;
	--primary-color: #3da9fc;
	--table-header-background-color: #094067;
	--table-background-color: #d8eefe;
	--color-neutral: hsl(200, 2%, 75%);
}
